html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-header {
  background-color: rgb(130, 122, 147);
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}


.layout-navbar {
  display: flex;
  width: 45vh;
  justify-content: space-evenly;
  cursor: pointer;
}

.layout-navbar p:hover {
  background-color: rgb(129, 108, 176);
  border-radius: 10%;
}

.logo {
  font-size: 22px;
  color: white;
  padding: 12px;
  margin: 13px;
  background-color: #252424;
  border-radius: 40%;
}

.layout_footer {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(130, 122, 147);
  z-index: 10000;
}

.main {
 height: 100%;
 position: relative;
}

.sideBar {

  margin-top: 10px;
  top: 0px;
  margin-right: 100px;
  right: 0px;

}

@media screen and (max-width: 600) {

}

@media screen and (max-width: 700) {
  
}


.modal-backdrop {
  position: fixed; 
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}